.modal-header{
	background-color: #0468d4;
}

.modal-title{
	color: white;
}

.about_text {
    font-size: 16px;
    line-height: 1.8em;
    margin-bottom: 45px;
    text-align: justify;
    overflow: hidden;
}

.logo h4{
	position: absolute;
    margin-left: 43px;
    margin-top: -18px;
}
